#dark{
    background-color: rgba(0, 0, 0, 0.81);
    color: white;
}

#dark button{
    background-color: whitesmoke;
}

#dark .todo-item{
    background-color: white;
    color: rgba(0, 0, 0, 0.58);
    font-weight: bold;
}

#dark .progressbar-wrapper{
    background-color: aliceblue;
    border: 2px solid white;
    overflow: auto;
}